#contenedor{
    display: flex;
    border: 10px dotted magenta;
    padding: 20px;
}
.elemento{
    height: 100px;
    width: 100px;
    margin: auto;
    border: 5px solid black;
    border-radius: 20%;
    padding: 5%;
    text-align: center;
    
}
#e1{
background-color: rgb(56, 64, 206);
border: 5px rgb(255, 0, 187) solid;
    border-radius: 5%;

}
#e2{
background-color: rgb(108, 124, 225);
border: 5px rgb(188, 17, 51) solid;
border-radius: 20%;
}

#e2:hover{
    background-color: rgb(108, 225, 194);
    border: 5px rgb(5, 60, 13) solid;
}

#e3{
    background-color: rgb(99, 178, 19);
    
}
.elemento img {
    height: 50px;
}
h1{
    color: rgb(49, 91, 6);
}
nav {
    background-color: aqua;
    padding: 15px;
    
}

nav ul{
    display: flex; /* pone elementos dentro de ul horizontal */
    list-style: none; /*quita el punto de la lista */
}
nav ul li {
    margin: auto; /* pone margenes a los li, repartiendo */
    text-transform: uppercase;
    color: rgb(8, 80, 42);
    background-color: rgb(176, 138, 213);
    padding: 10px;
    border-radius: 12%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li:hover{
    background-color: rgb(97, 186, 96);
}

.submenu {
    display: none;
    position: absolute;
    
}
.submenu a:hover{
    background: linear-gradient( 45deg, rgb(39, 124, 193), rgb(202, 64, 64), rgb(113, 113, 9));
    display: block;

}
.submenu a{
    text-decoration: none;
}
nav ul li:hover ul{
    display: block;

}






